@model ItemsViewModel
    <h1>List of Shop Items @Model.CurrentViewName View</h1>
<!--Provides a link to navigate to the table view of
the items-->
    <a href="/Item/Table">Table View</a>

    <div class="row row-cols-1 row-cols-md-3 g-4"> <!--grid: Sets up a responsive grid with one
column per row on small screens and three columns per row on medium and larger screens.-->
        @foreach (var item in Model.Items)
        {
            <partial name="_ItemCard" model="item" />  <!--Putter innhold fra _itemcard her-->
        }

    </div>